body{
    background-color:midnightblue; 
    background-image: url(img/seamless.png);
    color: crimson;
    width: 400px;
    height: 200px;
}    
.cheat{
        background-color: cyan;
        color:darkorchid;
}